div.arriba{
    background-color: #9A8AFF;
    padding-top: 30px;
    
}
nav a {
    text-decoration:none;
    color:inherit;
    font-size:25px;
    font-family:Redressed;

}

body{
    background-color: #7D8F97 ;
    margin-top:-0;
    margin-left: -0;
    margin-right: -0;
}
nav li{
    display:inline-block;
    padding:5px 10px;
    text-align:center;
    color:black;
    position:relative;
    font-family:Redressed;
}

nav li:hover{
    background-color:#fff;
    color:blue;
    }

div.medio{
    font-size:35px;
    text-align: left;
    color: white;
    padding-left: 450px;

}

div.medio1{
    font-size:35px;
    text-align: left;
    color: white;
    padding-left: 50px;

}


p{
    font-family:Redressed;
}

@font-face {
    font-family:Redressed;
    src: url('Redressed.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }

 h1{
    font-family:Redressed;
    font-size: 68px;
    color: white;
    padding-left: 600px;

    
 }

 div.foto{
    text-align: center;
    border-radius: 20px;
}

img.foto1{
    font-size: 68px;
    border-radius: 50px;
    margin-left: 580px;

}