div.arriba{
    background-color: #9A8AFF;
    padding-top: 30px; 
}
nav a {
    text-decoration:none;
    color:inherit;
    font-size:25px;
    font-family:Redressed;
}

body{
    background-color: #7D8F97 ;
    margin-top:-0;
    margin-left: -0;
    margin-right: -0;
}
nav li{
    display:inline-block;
    padding:5px 10px;
    text-align:center;
    color:black;
    position:relative;
    font-family:Redressed;
}
nav li:hover{
    background-color:#fff;
    color:blue;
    }

div.medio{
    padding-left: 510px;

}
div.medio1{
    padding-left: 420px;

}

p{
    font-family:Redressed;
    font-size:32px;
    text-align: left;
    color: white;
}

@font-face {
    font-family:Redressed;
    src: url('Redressed.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
 }

 h1{
    font-family:Redressed;
    font-size: 68px;
    color: white;
    text-align: center;

 }

 img.foto{
    width:350px;
    height:250px;
    margin-left: 250px;
}
img.foto3{
   
    width:350px;
    height:250px;
    margin-left: 550px;

}
img.foto1{
    border-radius: 50px;
    margin-left: 650px;
    width: 200px;
    height: 250px;
    

}

div.titulo{
    text-align: left;
    width: 200px;
    height: 0px;
}
div.titulo1{
    text-align: right;
}

table{
    padding-left: 40px;
    padding-top: 25px;
}

div.medio2{
    padding-left: 320px;
    border-color: black;
    border-style: solid;
    margin-left: 350px;
    margin-right: 350px;
    height: 850gpx;
  }
  img.fotos{
    width: 100px;
    height: 100px;
  }
  input.consulta{
    width: 400px;
    height: 200px;
  }

@media only screen and (max-width: 768px) {
    body{
        background-color:#7D8F97 ;   
    }

    div.medio {
        padding-left: 180px;
      }

      div.medio1{
        padding-left: 180px;
    
    }

      p{
        font-size:25px;
       
    }
    nav a {
        font-size:20px;
    }

    nav li {
        padding: 10px;
    }

    img.foto1{
        margin-left: 300px;
        width: 150px;
        height: 200px;
    
    }
    h1 {
        font-size: 40px;
      }

      img.foto {
        width: 280px;
        height: 150px;
        margin-left: 300px;
      }
    img.foto3{
    width: 280px;
    height: 150px;
    margin-left: 250px;
  }

img.fotos{
    width: 60px;
    height: 60px;
  }
  div.medio2{
    border-color: black;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    height: 720px;
  }
  input.consulta{
    width: 240px;
    height: 200px;
  }

}
@media only screen and (max-width: 320px) {
    body{
        background-color:#7D8F97 ;   
    }

    div.medio {
        padding-left: 40px;
      }

      div.medio1{
        padding-left: 10px;
    
    }

      p{
        font-size:18px;
       
    }
    nav a {
        font-size:10px;
    }

    nav li {
        padding: 5px;
    }

    img.foto1{
        margin-left: 65px;
        width: 150px;
        height: 200px;
    
    }
    h1 {
        font-size: 40px;
      }

      img.foto {
        width: 280px;
        height: 150px;
        margin-left: 20px;
      }
img.foto3{
    width: 280px;
    height: 150px;
    margin-left: 20px;
  }

img.fotos{
    width: 60px;
    height: 60px;
  }
  div.medio2{
    padding-left: 20px;
    border-color: black;
    border-style: solid;
    margin-left: 20px;
    margin-right: 20px;
    height: 600px;
  }
  input.consulta{
    width: 240px;
    height: 200px;
  }
}